<div class="panel panel-default">
	<div class="panel-body">
		<div>
		<h1 class="page-header"><%= diary.title %></h1>
			<div><%= br(Sanitize.clean(diary.body, Sanitize::Config::RELAXED_CUSTOM)).html_safe %></div>
			<div>authored_on:<%= diary.authored_on %></div>
			<div>category_id:<%= diary.category_id %></div>
		</div>    
	</div>
</div>
