<%

if request.parameters[:controller] == "monthly" then
	content_for :title do
		params[:year] + "/" + params[:month]
	end

	content_for :keywords do
		params[:year] + "/" + params[:month]
	end

	content_for :description do
		params[:year] + "年" + params[:month] + "月の日記一覧であるぞ"
	end

elsif request.parameters[:controller] == "category" then
	category = Category.find(params[:id])

	content_for :title do
		category.name
	end

	content_for :keywords do
		category.name
	end

	content_for :description do
		"カテゴリ：" + category.name + "の日記一覧であるぞ"
	end
end

%>

<div class="diary col-md-9 col-md-offset-1">
	<% @diaries.each do |item| %>
	<%= render 'diaries/content', diary: item %>
	<% end %>


	<div id="diary-paginate">
		<%=paginate @diaries, :theme=>'bootstrap3' %>
	</div>
</div>

<div id="sidebar" class="col-md-2">
	<%= render :partial => 'shared/sidebar' %>
</div>

