<div class="not_line links">
	<ul>
		<li>
			<a href="https://twitter.com/sheet00">
				<%= image_tag("icons/twitter.png", :size =>"25x25") %>
			</a>
		</li>

		<li>
			<a href="https://soundcloud.com/sheet">
				<%= image_tag("icons/soundcloud.png", :size =>"25x25") %>
			</a>
		</li>


		<li>
			<a href="https://www.flickr.com/photos/sheet00/">
				<%= image_tag("icons/flickr.png", :size =>"25x25") %>
			</a>
		</li>
	</ul>
</div>