/*application*/
#header_image{
	display: block;
	margin:0px auto 60px;
}

.not_line{
	a{
		text-decoration: none;
	}
}



/*sidebar*/
#sidebar{

	font-family: "Source Sans Pro",sans-serif;

	.title{
		color: #4f4f4f;
		letter-spacing: 2px;
		font-weight: 600;
		font-size: small;
		text-align: center;
	}

	#links{
		text-align: center;
		margin-bottom: 30px;
		ul{
			list-style-type: none;
			padding:0px;
			margin: 0px;

			li{
				display: inline-block;
				margin-right:10px;
			}

			li:last-child{margin-right: 0px;}
		}
	}

	#monthly_list{
		ul{
			list-style-type: none;
			padding-left: 10px;
		}

		li{
			border-top: 1px solid #f2f2f2;
			padding: 8px 0px;
			padding-left: 10px;
		}

		.year{
			.month{
				font-size: small;
				li{
					padding-right: 0px;
					padding-left: 3px;
				}
				li:last-child{
					padding-bottom: 0px;
				}
			}


		}


	}
}


/*diary*/
.diary{
	div:last-child{
		margin-bottom: 0px;

	}
}

.diary_content{
	margin-bottom: 50px;

	.diary_title{
		margin:10px 0px;
	}

	.diary_body{
		padding: 10px 30px 0px;
		margin-bottom:30px;
	}

	.diary_footer{
		font-size: x-small;
	}

	.diary_authored{
		text-align: right;
	}
}


#diary_paginate{
	text-align: center;
}
