/*mixin*/
@mixin letter {
	letter-spacing: 2px;
	color: #4f4f4f;
}

@mixin not-link {
	a:hover, a:focus{
		text-decoration: none;
	}
}

/*var*/
$sidebar-bottom-margin: 50px;

/*application*/

body{
	font-family: 'Source Sans Pro', sans-serif;
}


#header-image{
	display: block;
	margin:0px auto 60px;
}

/*sidebar*/
#sidebar{
	.title{
		@include letter;
		font-size: medium;
		text-align: center;
		margin-top: 0px;
	}

	#last-fm{		font-size: small;
		margin-bottom: $sidebar-bottom-margin;

		.image{
			display:block;
			margin:auto;
		}
	}



	#links{
		text-align: center;
		margin-bottom: $sidebar-bottom-margin;

		ul{
			list-style-type: none;
			padding:0px;
			margin: 0px;

			li{
				display: inline-block;
				margin-right:10px;
			}

			li:last-child{margin-right: 0px;}
		}
	}

	#category-list{
		margin-bottom: $sidebar-bottom-margin;

		li{
			@include letter;
			font-size: small;

			a{
				padding-top: 2px;
				padding-bottom: 2px;
				padding-left: 50px;
			}
		}
	}

	#monthly-list{
		margin-bottom: $sidebar-bottom-margin;
		font-size: small;

		ul{
			list-style-type: none;
			padding-left: 10px;
		}

		li{
			border-top: 1px solid #f2f2f2;
			padding: 6px 0px;
			padding-left: 10px;
		}

		.year-list{
			@include not-link;

			.year{
				@include letter;
			}


			.month{
				font-size: 12px;
				font-style: italic;
				li{
					padding-right: 0px;
					padding-left: 3px;

					a{
						padding: 2px 10px;
					}
				}
				li:last-child{
					padding-bottom: 0px;
				}
			}


		}

		#rss{
			margin-left: 3px;
			@include letter;
		}
	}



	#admin-menu{
		.glyphicon{
			margin-right:10px;
		}
	}
}


/*diary*/
.diary{
	font-family: 'メイリオ';

	.diary-content{
		margin-bottom: 50px;

		.diary-title{
			@include not-link;
			font-size: 25px;
			font-weight: bold;
			margin:10px 0px;
		}

		.diary-body{
			padding: 10px 30px 0px;
			margin-bottom:30px;
		}

		.diary-footer{
			@include not-link;
			font-size: 12px;

			.diary-authored{
				text-align: right;

				.diary-weather{
					margin-top: -3px;
					margin-left: 3px;
				}
			}

		}

	}

	.pagination{
		margin-top: -20px;
	}
}

/*new edit*/
.diary-form{

	#diary_authored_on{
		width: 170px;
	}

	.btn-group.bootstrap-select.dropdown{
		width: 120px;
	}

}


#diary-paginate{
	text-align: center;
}

/*log-content*/
#log-content{
	padding: 20px;
}